{% extends "base.html" %}

{% block title %}Accedi - Tranzit{% endblock %}
{% block body_class %}accedi-bg{% endblock %}

{% block content %}
<div class="accedi-container">
    <form action="/accedi_utenti" method="post">
        <div class="username-container">
            <label for="username" class="label-accedi">Username</label>
            <input type="text" id="username" name="username" placeholder="Username">
        </div>
        <div class="password-container">
            <label for="password" class="label-accedi">Password</label>
            <input type="password" id="password" name="password" placeholder="Password">
        </div>
        <button type="submit" id="accediButton">Accedi</button>
    </form>
    <div class="accedi-footer">
        <p id="pAccedi">Non sei ancora registrato?</p><br>
        <a href="/registrati" id="registratiLink">Clicca qui</a>
    </div>
</div>
{% endblock %}