<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>{% block title %}Tranzit{% endblock %}</title>
</head>
<body class="{% block body_class %}{% endblock %}">
<div class="background-container">
</div>
<header class="navbar-container">
    <div class="logo">
        <p><a href="/" style="text-decoration: none; color: white;">Tranzit</a></p>
    </div>
    <nav>
        <ul class="nav-links">
            <li><a href="/chiSiamo">Chi siamo</a></li>
            <li><a href="/statusMobilita">Status mobilità</a></li>
            <li><a href="https://www.eavsrl.it/infomobilita-ferrovia/">Avvisi Ferrovia</a></li>
            <li><a href="https://www.eavsrl.it/avvisi-infomobilita-autolinee/">Avvisi Autolinee</a></li>
            {% if username %}
            <li><a href="/accedi" class="accedi-btn">Ciao, {{ username }}</a></li>
            {% else %}
            <li><a href="/accedi" class="accedi-btn">Accedi</a></li>
            {% endif %}
        </ul>
    </nav>
</header>
<main>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div id="flash-messages-container">
        {% for category, message in messages %}
        <div class="flash-{{ category }}">{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}
</main>
<script src="/static/js/script.js"></script>
</body>
</html>