{% extends "base.html" %}

{% block title %}Chi Siamo{% endblock %}

{% block content %}
<div class="chiSiamo">
    <h1 class="chiSiamo">Chi siamo</h1>
    <h2 class="chiSiamo">Benvenuti su Tranzit</h2>
    <p class="chiSiamo">In un mondo sempre più frenetico, TranZit semplifica il trasporto pubblico riunendo
        tutte le soluzioni di mobilità in un’unica piattaforma intuitiva. Con TranZit puoi
        prenotare viaggi, accedere a servizi di ride-sharing, effettuare pagamenti sicuri e
        ottenere informazioni in tempo reale sul traffico. </p>
    <p class="chiSiamo"><br> <em>Il nostro obiettivo?</em> <br></p>
    <p class="chiSiamo">Rendere il trasporto pubblico più accessibile, sostenibile e digitale.
        Diciamo addio ai biglietti cartacei, promuovendo soluzioni digitali per ridurre l’impatto
        ambientale. Inoltre, con ogni acquisto, <em>contribuisci alla piantumazione di un albero
            grazie alla nostra collaborazione con associazioni ecologiche.</em><br></p>
    <p class="chiSiamo"><b><em>Semplifica il tuo viaggio e aiuta il pianeta con TranZit.</em></b></p>
</div>
{% endblock %}