{% extends "base.html" %}

{% block title %}{% endblock %}

{% block content %}
<div class="tickets-container">
    {% for biglietto in biglietti %}
    <div class="ticket-card">
        <div class="ticket-header">
            <span class="tripName">{{ biglietto.trip_short_name }} {{ biglietto.agency_id }}</span>
        </div>
        <div class="ticket-body">
            <div class="info-viaggio">
                <div class="orario-stazione">
                    <p class="partenza">{{ biglietto.arrival_time }}<br>{{ biglietto.from_stop }}</p>
                    <p class="destinazione">{{ biglietto.departure_time }}<br>{{ biglietto.to_stop }}</p>
                </div>

            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}