{% extends "base.html" %}

{% block title %}{% endblock %}

{% block content %}
<div class="schedule-container">
<h1>Stato del Treno {{ codTreno }}</h1>
<table>
    <thead>
    <tr>
        <th>Fermata</th>
        <th>Orario di Arrivo</th>
        <th>Orario di Partenza</th>
    </tr>
    </thead>
    <tbody>
    {% for fermata in schedule %}
    <tr>
        <td>{{ fermata.nome_fermata }}</td>
        <td>{{ fermata.orario_arrivo }}</td>
        <td>{{ fermata.orario_partenza }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}