<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Side bar{% endblock %}</title>
</head>
<body>
<div class="profiloUtente-container">
    <ul>
        <li><a href="#">Account</a></li>
        <li><a href="#">I miei viaggi</a></li>
        <li><a href="#">I miei metodi di pagamento</a></li>
        <li><a href="/">Logout</a></li>
    </ul>
</div>
<main>
    {% block content %}{% endblock %}
</main>
</body>
</html>